Vagrant.configure('2') do |outer_config|
  outer_config.vm.define "luigi" do |config|
    config.vm.hostname = "luigi"
    config.vm.box = "precise64"
    config.vm.network "forwarded_port", guest: 459, host: 9488
  end
end
